
:root{
    --background: #000000;
    --text-color: #ffffff;

    --background-hover: #c5c5c5;
    --text-color-hover: #000000;

    --background-active: #c5c5c5;
    --text-color-active: #c5c5c5;

    --modal-text-color: #000000;
    --modal-background: #c5c5c5;

    --modal-text-hover: #c5c5c5;
    --modal-background-hover: #000000;
    
    --modal-text-active: #000000;
    --modal-background-active: #c5c5c5;

    --border-hover: #c5c5c5;

    --song-progress: #e4af03;

    --transparent: #ffffff00;
}

[data-theme="dark"]{
    --background: #c5c5c5;
    --text-color: #000000;

    --background-hover: #000000;
    --text-color-hover: #c5c5c5;

    --background-active: #000000;
    --text-color-active: #000000;

    --modal-text-color: #c5c5c5;
    --modal-background: #000000;

    --modal-text-hover: #000000;
    --modal-background-hover: #c5c5c5;
    
    --modal-text-active: #c5c5c5;
    --modal-background-active: #c5c5c5;

    --border-hover: #000000;

    --transparent: #ffffff00;
}


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: nunito;
    color: var(--text-color);
    object-fit: fill;
    background-image: radial-gradient(circle, var(--transparent) 0%, var(--background) 80%), url(cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{
    cursor: pointer;
    transition: 0.3s;
}

#container-all{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#container-main-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 60vh;
    margin-top: 10vh;
}


/* Bordering Buttons*/
#button-light-bg{
    display: flex;
    justify-content: center;
    align-items: center; 
    
    position: absolute;
    top: 3%;
    right: 3%;
    
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

#button-light{

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    color: var(--text-color);

    width: 4vh;
    height: 4vh;
    padding: 2.3vh;
    border-radius: 50%;
}

#button-light i{
    font-size: 3vh;
}

#button-github{
    position: absolute;
    top: 90%;
    left: 2%;
    border: none;
    border-radius: 50em;
    color: var(--text-color);
}

#button-github i{
    font-size: 5vh
}

#button-light:hover{
    color: var(--text-color-hover);
    background: var(--background-hover);
}

#button-light:active{
    color: var(--text-color-active);
    background: var(--background-active);
}


/* Cover Image */
#album-cover{
    position: relative;
    display: inline-block;
}

#album-cover img{
    object-fit: fill;
    display: block;
    width: 60vh;
    height: 45vh;
    background: #000;
    border-radius: 3vh 3vh 0 0;
}

#cover-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff00 0%, var(--background) 99%);
}


/* Interaction Area */
#outer-container-interaction-area{
    width: 60vh;
    height: 37vh;
    background: var(--background);
    border-radius: 0 0 3vh 3vh;
    
}

#container-interaction-area{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin: 1vh auto;
    width: 57vh;
    height: 40vh;
}

#container-interaction-area span{
    font-weight: bold;
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Song Details */
#song-artist, #album-title{
    font-size: 1.7vh;
    color: #666666;
}

#song-title{
    font-size: 4vh;
    margin-top: 0.5vh;
}


/* Song Time */
#container-song-time{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}

#container-song-time span{
    font-size: 2vh;
}   

#song-progress{
    width: 75%;
    height: 1vh;
    cursor: pointer; 
    background: var(--text-color);
    border-radius: 50em;
}

#song-progress:focus{
    outline: none;
}

/* Song Volume */
#container-song-volume{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1vh;
    margin-top: 2vh;
}

#button-mute{
    color: var(--text-color);
    background: transparent;
    border: 1px solid var(--background);
    border-radius: 50em;
}

#button-mute i{
    font-size: 3vh;
}

#button-mute:hover{
    border: 1px solid var(--border-hover);
}

#button-mute:active{
    color: var(--text-color-active);
    background: var(--background-active);
}


/* Song Bottom Button Row */
#container-song-bottom-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    padding: 1vh 0;
    width: 100%;
}

.bottom-button-row-bg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7vh;
    height: 7vh;
    border: 1px solid var(--border-hover);
    border-radius: 50%;
}

#container-song-bottom-button-row button{
    border: none;
    color: var(--text-color);
    background: transparent;
    border-radius: 50%;
    
    height: 7vh;
    width: 7vh;
    transition: 0.3s;
}

#container-song-bottom-button-row i{
    font-size: 4.5vh;
}

#container-song-bottom-button-row button:hover{
    color: var(--text-color-hover);
    background: var(--background-hover);
}

#container-song-bottom-button-row button:active{
    color: var(--text-color-active);
    background: var(--background-active);
    border: 1px solid var(--border-hover);
}

/* Modal Menu*/
.modal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 50%;
    z-index: 100; 

    display: none;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    width: 58vh;
    height: 80vh;
    background: var(--modal-background);

    border-radius: 3vh;
    transition: all ease 0.5s;
}

#container-menu-modal{
    display: none;
}

#bg-modal-button-close{
    align-self: flex-end;
    margin: 2vh 2vh 0 0;
}

#modal-button-close{
    background: none;
    color: var(--modal-text-color);
    border: 1px solid var(--modal-text-color);
    border-radius: 50em;
}

#modal-button-close i{
    font-size: 3vh;
}

#modal-button-close:hover{
    color: var(--modal-text-hover);
    background: var(--modal-background-hover);
}

#modal-button-close:active{
    color: var(--modal-text-active);
}
















